nav.seller-dashboard-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;

    form.search-bar {
        position: relative;
        padding: 0;
        flex-grow: 1;
        flex-basis: 100%;
        max-width: 348px;
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 99px;
        overflow: hidden;

        input {
            outline: none;
            border: none;
            width: 100%;
            height: inherit;
            padding: 6px 16px 10px 48px;
            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            background: transparent;
            z-index: 1;
        }

        img {
            position: absolute;
            top: 11px;
            left: 11px;
            z-index: 0;
        }

    }

    .seller-header-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 8px;
        height: inherit;
        text-wrap: nowrap;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background: #FFFFFF;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 12px;
            height: 48px;

            &.icon {
                width: 48px;
            }

            &.text {
                padding: 12px 18px;
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #344054;

                &.new-product {
                    padding: 12px 24px;
                    background: #1AA998;
                    border-color: #1AA998;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    font-weight: 600;
                    color: #FFFFFF;
                }
            }

            &:hover {
                background: transparent;
                cursor: pointer;
            }
        }
    }

    .explore {
        color: #ffffff;
        background: #DFB64B;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 12px;
    }
}

@media screen and (max-width: 480px) {
    nav.seller-dashboard-header {
        display: none;
    }
}