#settings {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 19.4px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(13.1px);
    border-radius: 32px;
    padding: 32px 24px;
    margin-top: 24px;

    .page-title {
        /* Text md/Semibold */
        font-family: 'Hubot Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        color: #505050;
    }

    .form-control {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 32px;
        padding: 20px 0;

        border-bottom: 1px solid #EAECF0;

        &.buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 16px;
            border: none;

            .btn {
                flex-basis: 25%;
                text-align: center;
            }

        }

        label {
            flex-basis: 30%;
        }

        .item-title {
            .title {
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;

                color: #344054;
            }

            .description {
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;

                color: #475467;
            }
        }

        .react-international-phone-country-selector {
            button {
                width: 100%;
                height: 100%;
                padding: 0 16px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
            }
        }

        input {
            outline: none;
            background: #FFFFFF;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 12px;
            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            resize: none;
            padding: 10px 14px;
            flex-grow: 1;
            height: auto;

            &.firstname {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.lastname {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.phonenumber {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .notifications-options {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 16px;

            .option {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 8px;

                input {
                    flex-grow: 0;
                }

                label {
                    flex-grow: 1;
                    flex-basis: 100%;
                }
            }
        }

        >div,
        >input {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            margin-bottom: auto;
            flex-basis: 50%;
            flex-grow: 0;
            border-radius: 12px;

            &.avatar-options {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #settings {
        margin-top: 64px;
        border-radius: 0;
        box-shadow: none;
        background: none;
        backdrop-filter: none;
        padding: 8px;

        .form-control {
            flex-direction: column;
            align-items: stretch;
            padding: 0;
            gap: 16px;
            margin-bottom: 32px;

            &#avatar {
                flex-direction: row;

                >* {
                    flex-basis: 50%;
                }
            }

            .firstname,
            .lastname {
                flex-basis: 50%;
                width: 0;
            }
        }
    }

}