.dashboard {
    aside {
        position: sticky;
        top: 32px;
        width: 268px;
        min-width: 268px;
        padding: 32px;
        border-radius: 32px;
        height: calc(100vh - 64px);
        background-color: #ffffff;
        z-index: 998;

        nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 36px;

            ul {
                position: relative;
                height: inherit;
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 12px;

                li {
                    position: relative;

                    &:last-child {
                        margin-top: auto;
                    }

                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        gap: 8px;
                        height: 36px;
                        color: #475467;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .dashboard {
        padding: 16px;

        aside {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: auto;
            height: 60px;
            overflow: hidden;
            z-index: 998;
            border-radius: 0;
            background: #eff8f5;
            padding: 0 16px;

            backdrop-filter: blur(20px);
            transition: all ease 600ms;

            nav {
                >div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    height: 60px;
                    position: relative;

                    a.brand img {
                        height: 60px;
                        padding: 10px 0;
                    }

                    >div {
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        align-items: center;

                        button.collaps-button,
                        a button.cart-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 5px;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                }

                ul {
                    padding: 16px;
                    margin-bottom: 16px;
                }
            }

            &.collapsed {
                height: 100vh;
            }
        }
    }
}