.primary-nav {
    position: sticky;
    padding: 10px 0;
    height: 80px;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 999;

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        gap: 48px;

        .navbar-brand {
            position: relative;
        }

        .menu {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;

            ul.main-menu {
                padding: 0;
                margin: auto 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-grow: 1;
            }

            ul.navigation-menu {
                padding: 0;
                margin: auto 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }

        @media screen and (max-width: 600px) {
            .menu {
                justify-content: right;

                .main-menu {
                    display: none !important;
                }
            }

        }
    }

    .primary-nav-popup-menu {
        position: absolute;
        top: 80px;
        width: 100%;
        background: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 32px 16px;

        display: none;

        .parents {
            flex-basis: 30%;
            background: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            border-right: 1px solid lightgray;

            a {
                font-size: 16px;
                line-height: 24px;
                color: #101828;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 16px;

                &:hover,
                &.active {
                    border-left: 3px solid #189A8A;
                }
            }
        }

        .childs {
            flex-grow: 1;

            .child-content {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;

                display: none;

                .child-column {
                    h3 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #DFB64B;
                    }
                }
            }
        }
    }
}