.products {
    margin-top: 24px;
}

#products {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, minmax(0, 1fr));
    gap: 24px;
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;

    border: 1px solid #D0D5DD;
    border-radius: 24px;
    padding: 12px;

    .nft-link {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 18px;

        position: absolute;
        width: 78px;
        height: 38px;
        right: 24px;
        top: 24px;

        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(4px);
        border-radius: 12px;
        background-image: url('../../public/images/icons/icon.tag.nft.svg');
        background-repeat: no-repeat;
        background-position: center center;

        z-index: 10;

        &.required {
            background-image: url('../../public/images/icons/icon.tag.nft.required.svg');
        }
    }

    img {
        border-radius: 16px;
        width: 100%;
    }

    .discount {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: absolute;
        width: 85px;
        height: 76px;
        left: 0px;
        top: 0px;

        background-image: url('../../public/images/icons/icon.discount.svg');
        background-repeat: no-repeat;
        background-position: center center;

        z-index: 1;

        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .info {
        padding: 12px 16px 16px;

        .title {
            /* Text lg/Semibold */
            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;

            color: #101828;
        }

        .cart {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 28px;

            .cost {
                max-width: 50%;
                overflow: hidden;

                .off {
                    font-family: 'Hubot Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-decoration-line: line-through;

                    color: #667085;
                }

                .final {
                    /* Text xl/Bold */
                    font-family: 'Hubot Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                    text-wrap: nowrap;
                    /* identical to box height, or 150% */

                    color: #101828;
                }
            }

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                .remove {
                    padding: 14px;
                    gap: 8px;

                    width: 48px;
                    height: 48px;

                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 12px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 22px;
                        height: 24px;
                        aspect-ratio: 1 / 1;
                    }

                    &::after {
                        /* content: url('/images/icon.recyclebin.svg'); */
                    }
                }

                .add {
                    width: 48px;
                    height: 48px;

                    background: #DFB64B;
                    border: 1px solid #DFB64B;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 12px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 22px;
                        aspect-ratio: 1 / 1;
                    }

                    &::after {
                        /* content: url('/images/icon.addtocart.svg'); */
                    }
                }
            }
        }
    }

    &.saved {
        .info {
            .cart {
                flex-direction: column;
                align-items: stretch;
                gap: 16px;

                .cost {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                .buttons {
                    flex-direction: row-reverse;
                    height: 36px;

                    button {
                        height: 42px;
                        padding: 11px;
                        aspect-ratio: 1 / 1;
                    }

                    .add {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 12px;

                        &::after {
                            content: none;
                        }

                        img {
                            width: 16px;
                            aspect-ratio: 1 / 1;
                        }

                        &::before {
                            /* content: url('/images/icon.addtocart.svg'); */
                        }
                    }
                }
            }
        }
    }
}


/* Single Product Page */
#product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 92px;

    .product-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 16px;
        flex-grow: 1;

        .image {
            position: relative;
            border-radius: 32px;
            overflow: hidden;
            width: 45%;
            aspect-ratio: 1;

            .images {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;

                    transition: opacity ease-in-out 300ms;

                    &.active {
                        opacity: 1;
                    }
                }
            }

            .controllers {
                position: absolute;
                bottom: 0;
                height: 15%;
                width: 100%;
                left: 0;
                z-index: 10;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                backdrop-filter: blur(10px);
                background: rgba(0, 0, 0, .1);

                .control {
                    outline: none;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 15px;
                    padding: 32px;

                    transition: all ease 300ms;

                    &:hover {
                        cursor: pointer;
                    }

                    &.next {
                        right: 0;
                        background-image: url('../assets/icons/product/next_controller_icon.svg');
                    }

                    &.prev {
                        left: 0;
                        background-image: url('../assets/icons/product/prev_controller_icon.svg');
                    }
                }

                .pointers {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    i {
                        width: 24px;
                        height: 4px;
                        border-radius: 6px;
                        background: black;

                        &.active {
                            background: white;
                        }
                    }
                }
            }
        }

        .product-info {
            border-radius: 32px;
            overflow: hidden;
            padding: 24px;

            background: rgba(240, 240, 240, 0.4);
            border: 1px solid #FFFFFF;
            box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.08);
            backdrop-filter: blur(36.25px);

            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            gap: 24px;

            .product-title {
                /* Display xs/Bold */
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;

                color: #101828;
            }

            .information {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                gap: 12px;

                >div {
                    height: 50px;
                    width: 120px;
                    background: #F2F4F7;
                    border-radius: 12px;
                    font-size: 10px;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    border-radius: 12px;
                    padding: 12px;

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #667085;
                    }

                    h5 {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #101828;
                    }

                    &.seller {
                        background: #F2F4F7;

                        img {
                            height: 30px;
                            aspect-ratio: 1 /1;
                            object-fit: cover;
                        }
                    }

                    &.rate {
                        background: rgba(223, 182, 75, 0.21);
                    }

                    &.reviews {
                        background: #F2F4F7;
                    }
                }
            }

            .options {
                margin-top: 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 24px;

                >div {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 16px;
                    width: 100%;

                    .option-title {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;
                        color: #D0D5DD;
                        flex-basis: 96px;
                    }

                    .option-value {
                        padding: 6px 10px;
                        gap: 3px;
                        background: #FFFFFF;
                        border: 1px solid #D0D5DD;
                        border-radius: 12px;

                        &.active {
                            border: 1px solid #189A8A;
                            box-shadow: 0px 4px 9.1px rgba(68, 191, 139, 0.25);
                        }

                        &.option-color {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 5px 12px 5px 5px;
                            gap: 10px;

                            background: #F9FAFB;
                            border: 1px solid #EAECF0;
                            border-radius: 16px;

                            .color-demo {
                                width: 22px;
                                height: 22px;
                                border-radius: 22px;
                                box-shadow: 0px 4px 13.5px -1px rgba(129, 44, 238, 0.78);
                            }

                            .color-value {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                color: #344054;
                                text-shadow: 0px 4px 10.1px rgba(129, 44, 238, 0.25);
                            }
                        }
                    }
                }
            }

            .safe-holder {
                margin-top: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 16px;

                .safe-holder-text {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 16px;

                    .caption {
                        flex-grow: 1;

                        h3 {
                            font-style: normal;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 600;
                            color: #101828;
                        }

                        p {
                            font-style: normal;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            color: #475467;
                        }
                    }
                }

                button {
                    flex-grow: 1;
                }
            }
        }
    }

    .sidebar-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background: #F2F4F7;
        border-radius: 24px;
        padding: 16px;

        button {
            width: 61px;
            height: 61px;
            border-radius: 16px;
            gap: 4px;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-wrap: nowrap;
            aspect-ratio: 1;

            &.active {
                background: #DFB64B;
            }
        }

    }
}

#tabs-content {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 19.4px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(15.5px);
    border-radius: 40px;
    padding: 32px;
    margin-bottom: 32px;

    .details,
    &.details .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 32px;

        >div {
            background: #F9FAFB;
            border: 1px solid #EAECF0;
            border-radius: 30px;
            flex-basis: 50%;
            padding: 36px;

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;
                color: #667085;
                margin-bottom: 24px;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #212121;
                padding: 0 !important;
            }

            &.specifications {
                .properties {
                    width: 100%;

                    .property {
                        padding: 24px 0;
                        border-bottom: 1px solid lightgray;

                        &:last-child {
                            border: none;
                        }
                    }

                    td.prop-name {
                        width: 130px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #667085;
                        text-transform: lowercase;

                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }

                    td.prop-value {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #212121;
                    }
                }
            }
        }
    }

    .reviews,
    &.reviews .reviews {
        display: grid;
        grid-template: repeat(1, 1fr) / repeat(2, 1fr);
        gap: 20px;


        .comment {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px;
            gap: 10px;
            background: #FFFFFF;
            border: 0.942899px solid #D0D5DD;
            border-radius: 36px 28.287px 28.287px 28.287px;
            flex-basis: 50%;

            .avatar {
                width: 56px;
                height: 56px;
                min-width: 56px;
                background: url('/public/images/users/null.png');
                border: 1.5px solid #FFFFFF;
                border-radius: 56px;
                background-size: cover;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 16px;

                .title {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 16px;
                    height: 56px;

                    h3 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #101828;
                    }

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #667085;
                    }
                }

                .body {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #344054;

                }

                .rate-menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 16px;

                    button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;

                        outline: none;
                        border: none;
                        background: none;
                        text-decoration: none;

                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;

                        &.like {
                            color: #17B26A;
                        }

                        &.dislike {
                            color: #F04438;
                        }
                    }
                }
            }
        }
    }

    &.details .reviews,
    &.reviews .details {
        display: none;
    }
}

.digits-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .digit {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 49px;
        height: 50px;

        border: 2px solid transparent;
        font-family: 'Hubot Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;

        border-radius: 8px;
    }
}

.pink {
    color: #DD2590;
    border-color: #DD2590 !important;
}

#addtocart {
    position: sticky;
    bottom: 32px;
    width: 100%;
    z-index: 998;

    >div {
        background: rgba(241, 241, 241, 0.46);
        border: 1px solid #FFFFFF;
        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
        backdrop-filter: blur(12px);

        border-radius: 40px;
        padding: 32px 36px 36px;

        flex-grow: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 32px;

        .timer {
            .title {
                margin-bottom: 8px;
            }
        }

        .cost {
            .before {
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;

                text-decoration-line: line-through;

                color: #667085;
            }

            .after {
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 22.6296px;
                line-height: 30px;

                color: #101828;

                display: flex;
                align-items: center;

                .dollar {
                    /* Text sm/Regular */
                    font-family: 'Hubot Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;

                    color: #667085;
                }
            }
        }

        .action {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-left: auto;
            height: 100%;

            button {
                padding-left: 48px;
                padding-right: 48px;
            }

            .count {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                border-radius: 25px;

                border: 1px solid #D0D5DD;

                padding: 12px;

                button {
                    height: 24px;
                    width: 24px;
                    border-radius: 12px;
                    font-size: 24px;
                    padding: 0;
                    border: 1px solid dimgray;
                    color: dimgray;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

#similars {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 16px;
    margin: 48px auto 64px;
}

@media screen and (max-width: 480px) {
    #product {
        flex-direction: column-reverse;

        .sidebar-menu {
            flex-direction: row;
            gap: 8px;
            overflow-x: scroll;
            margin-bottom: 16px;
        }

        .product-content {
            flex-direction: column;
            align-items: stretch;

            .image {
                width: auto;
            }

            .product-info {
                .product-title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 38px;
                    color: #101828;
                }

                .information {
                    flex-direction: column;
                }

                .safe-holder {
                    flex-direction: column;
                    align-items: flex-start;

                    button {
                        width: 50%;
                    }
                }
            }
        }
    }

    #tabs-content {
        &.details .details {
            flex-direction: column-reverse;
        }

        & .details,
        &.details .details {
            >div {
                border: none;
                background: transparent;
                padding: 0;

                &.descriptions {
                    padding-bottom: 32px;
                    border-radius: 0;
                    border-bottom: 1px solid #d0d5dd;
                }
            }
        }

        .reviews,
        &.reviews .reviews {
            grid-template: repeat(1, 1fr) / repeat(1, 1fr)
        }
    }

    #addtocart {
        position: relative;
        padding-top: 32px;

        >div {
            flex-direction: column;
            align-items: stretch;
            gap: 8px;

            .timer {
                .digits-group {
                    justify-content: flex-start;
                }
            }

            .action {
                margin: 0;
                flex-direction: column;
                align-items: flex-start;

                button {
                    width: 100%;
                }
            }
        }
    }

    #similars {
        max-width: 100%;
        overflow-x: scroll;
    }
}