@import './button.css';

@font-face {
    font-family: 'Hubot Sans';
    src: url(../fonts/Hubot-Sans.woff2);
}

body {
    margin: 0;
    font-family: 'Hubot Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    overflow-x: hidden;
    box-shadow: 0 0 10px 5px gray;

    * {
        margin: 0;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .container {
        width: 100%;
        max-width: 1280px;
        padding-right: 16px;
        padding-left: 16px;
        margin: auto;
    }

    @media screen and (min-width: 1440px) {
        .container {
            padding: 0;
        }
    }


    a {
        text-decoration: none;
        font-family: 'Hubot Sans';
        font-weight: 400;
        font-size: 16px;
    }

    main {
        min-height: 100vh;
    }
}

#login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(7px);
    display: none;
}

.login-form {
    width: 300px;
    height: 350px;
    margin-top: -175px;
    margin-left: -150px;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 0 10px 5px darkgray;
    border: 1px solid darkgray;
    background: #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    input {
        border-radius: 24px;
        outline: none;
        border: 1px solid #ccc;
        height: 48px;
        width: 100%;
        padding: 8px 24px;
        font-size: 18px;
        color: dimgray;

    }

    button {
        width: 100%;
        border-radius: 24px;
        height: 48px;
        margin-top: auto;
    }
}

.signup-form {
    width: 100vw;
    height: 100vh;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EFF8F5;
    gap: 12px;

    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;
    }

    input {
        border-radius: 24px;
        outline: none;
        border: 1px solid #ccc;
        height: 48px;
        width: 400px;
        padding: 8px 24px;
        font-size: 18px;
        color: dimgray;

        &.firstname {
            width: 200px;
            border-radius: 50px 0 0 50px;
        }

        &.lastname {
            width: 200px;
            border-radius: 0 50px 50px 0;
        }

        &.country {
            width: 150px;
            border-radius: 50px 0 0 50px;
        }

        &.phonenumber {
            width: 250px;
            border-radius: 0 50px 50px 0;
        }
    }

    button {
        width: 400px;
        border-radius: 24px;
        height: 48px;
    }
}