@import './button.css';

@font-face {
    font-family: 'Hubot Sans';
    src: url('../assets/fonts/Hubot-Sans.woff2');
}

body {
    margin: 0;
    font-family: 'Hubot Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    overflow-x: hidden;
    box-shadow: 0 0 10px 5px gray;

    * {
        margin: 0;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 0;
    }

    .container {
        width: 100%;
        max-width: 1280px;
        padding-right: 16px;
        padding-left: 16px;
        margin: auto;
    }

    @media screen and (min-width: 1440px) {
        .container {
            padding: 0;
        }
    }


    a {
        text-decoration: none;
        font-family: 'Hubot Sans';
        font-weight: 400;
        font-size: 16px;
    }

    main {
        /* min-height: 100vh; */
        z-index: auto;
    }
}

#login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(12, 17, 29, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    display: none;

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        margin: auto;

        background: #FFFFFF;
        background-image: url('/public/images/comments.background.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        backdrop-filter: blur(5.45px);
        border-radius: 24px;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        z-index: 1;

        width: 360px;
        height: 380px;

        padding: 32px;

        .close {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 32px;
            height: 32px;
            margin: 0;
        }

        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #101828;

        }

        p {
            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #475467;
        }

        input {
            outline: none;
            border: 1px solid #189A8A;
            border-radius: 8px;

            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            resize: none;

            padding: 8px;

            width: 100%;
        }

        button {
            margin-top: 16px;
            width: 100%;
        }
    }
}

#signup-page,
#signup-password-page {
    background: rgb(12, 17, 29, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px);

    .signup-form,
    .signup-password-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        background: #FFFFFF;
        background-image: url('/public/images/comments.background.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        backdrop-filter: blur(5.45px);
        border-radius: 24px;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        z-index: 1;

        width: 360px;

        padding: 32px;
        margin: auto;

        .close {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 32px;
            height: 32px;
            margin: 0;
        }

        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #101828;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #475467;
        }

        input {
            outline: none;
            border: 1px solid #189A8A;
            border-radius: 8px;

            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            resize: none;

            padding: 8px;

            width: 100%;
            height: auto;
        }

        .phone {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            width: 100%;

            .country,
            .react-international-phone-country-selector {
                flex-basis: 25%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border: 1px solid #189A8A;
                border-radius: 8px 0 0 8px;
                /* overflow: hidden; */
                text-align: center;

                button {
                    border: none;
                    margin: auto;
                }
            }

            .phonenumber {
                flex-grow: 1;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        >button {
            margin-top: 16px;
            width: 100%;
        }
    }
}

#signup-verification-page {
    background: rgb(12, 17, 29, 0.7);
    text-align: center;
    padding: 64px 32px;

    .signup-verification-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        background: #FFFFFF;
        background-image: url('/public/images/comments.background.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        backdrop-filter: blur(5.45px);
        border-radius: 24px;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        z-index: 1;

        width: 360px;
        max-width: 360px;

        padding: 32px;
        margin: auto;

        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #101828;

        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #475467;
        }

        .digits-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            .digit {
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 49px;
                height: 50px;

                border: 2px solid transparent;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;

                border-radius: 8px;

                color: #189A8A;
                border-color: #D0D5DD;

                &:focus {
                    color: #189A8A;
                    border-color: #189A8A;
                }
            }
        }
    }
}

.badge {
    padding: 7px 13px 7px 23px;
    border-radius: 99px;

    /* Text sm/Medium */
    font-family: 'Hubot Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    /* background: #E8F6F5; */
    border: 1px solid #475467;
    color: #475467;

    &.green {
        /* background: #E8F6F5; */
        border: 1px solid #96D7D0;
        color: #12786C;
    }

    &.violet {
        /* background: #EEF4FF; */
        border: 1px solid #C7D7FE;
        color: #3538CD;
    }

    &.red {
        /* background: #FDF2FA; */
        border: 1px solid #FCCEEE;
        color: #C11574;
    }
}