.seller {
    display: flex;
    flex-direction: row;
    background-color: #eff8f5;
    padding: 32px;
    gap: 32px;

    .collaps-button,
    .cart-button {
        display: none;
    }

    main {
        position: relative;
        flex-grow: 1;
        max-width: calc(100% - 300px);

        .page-title {
            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;

            color: #505050;
            margin-bottom: 16px;
        }
    }
}

@media screen and (max-width: 480px) {
    .dashboard {
        padding: 16px;

        main {
            max-width: 100vw;
            overflow: hidden;

            >nav {
                display: none;
                max-height: 0px;
            }

        }
    }
}