footer {
    position: relative;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    padding: 64px 0 48px;
    gap: 64px;

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 64px;

        .subscribe {
            color: #475467;
            align-self: stretch;
            flex-basis: 40%;

            p {
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                order: 1;
                align-self: stretch;
                margin: 32px 20% 16px 0;
            }

            form {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 16px;
                gap: 16px;

                input {
                    outline: none;
                    border: none;
                    flex-grow: 1;
                    font-family: 'Hubot Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    padding: 10px 16px;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 12px;

                    &[type="submit"] {
                        flex-grow: 0;
                        color: #ffffff;
                        font-weight: 600;
                        background: #3BCE99;
                        border: 1px solid #3BCE99;
                    }
                }
            }
        }

        .links {
            position: relative;
            display: flex;
            flex-basis: 60%;
            flex-direction: row;
            gap: 48px;

            .menu {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 16px;
                text-align: left;

                h4 {
                    margin: 0;
                }

                ul {
                    position: relative;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        padding: 0;
                        margin: 0;
                        margin-bottom: 12px;
                        text-decoration: none;
                        font-family: 'Hubot Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;

                        a {
                            color: #2EA077;
                            flex-grow: 0;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        &.copyright {
            padding-top: 32px;
            border-top: 1px solid #EAECF0;
            color: #667085;

            p {
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
            }

            .menu {
                position: relative;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                list-style: none;
                gap: 16px;

                li {
                    a {
                        font-weight: 400;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

/* Tablet screen */
@media screen and (max-width < 1024px) {}

/* Mobile screen */
@media screen and (max-width: 480px) {
    footer {
        .container {
            flex-direction: column;

            .subscribe {
                p {
                    margin: 16px 0;
                }

                form {
                    flex-direction: column;
                    align-items: stretch;
                }
            }

            .links {
                flex-direction: column;
                align-items: start;
            }
        }
    }
}