.seller-add-product {
    min-height: calc(100% - 72px);
    padding: 32px 24px;
    margin-top: 24px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(13px);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;

    hr {
        border: none;
        border-bottom: 1px solid #D0D5DD;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 16px;

        .form-group-title {
            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #101828;
        }

        .form-group-col {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: stretch;
            gap: 24px;

            min-width: 0;
            flex-grow: 1;
            flex-basis: 100%;
        }

        .form-group-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 24px;

            min-width: 0;
            flex-grow: 1;
            flex-basis: 100%;
        }

        p {
            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: auto 0;
            color: #344054;
        }
    }

    .form-control {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        gap: 8px;

        min-width: 0;
        flex-grow: 1;
        flex-basis: 100%;

        label {
            font-family: 'Hubot Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #344054;
        }

        .input-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            height: 44px;

            background: #FFFFFF;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;

            .input-prepend {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 10px 14px;

                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #475467;

                img {
                    height: 16px;
                    aspect-ratio: 1;
                }

                &:not(.icon) {
                    border-right: 1px solid #D0D5DD;
                }

            }

            input,
            select,
            textarea {
                outline: none;
                border: none;
                background: none;
                font-family: 'Hubot Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #101828;

                padding: 10px 14px;
                resize: none;

                min-width: 0;
                flex-grow: 1;
                flex-basis: 100%;

                appearance: none;
                -webkit-appearance: none;
                -ms-progress-appearance: none;

                option span {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                    border-radius: 99px;
                }

                &::placeholder {
                    font-weight: 400;
                }
            }

            input:disabled::placeholder {
                color: #101828;
            }

            select+.input-append {
                position: absolute;
                z-index: -1;
                right: 0;
            }

            &:has(textarea) {
                height: 100%;
                min-height: 128px;
            }

            &:has(.input-prepend.icon) {
                input {
                    padding-left: 0;
                }
            }

            &:has(.items-container) {
                flex-direction: column;
                flex-basis: 100%;
                gap: 0;

                .items-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 6px;
                    padding: 10px 14px;
                    height: fit-content;

                    .input-item {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 2px 9px 2px 9px;
                        gap: 6px;
                        height: 24px;
                        background: #FFFFFF;
                        border: 1px solid #D0D5DD;
                        border-radius: 6px;

                        font-family: 'Hubot Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        color: #344054;

                        &::after {
                            content: url("../../assets/icons/button/multiitem_item_remove_icon.svg");
                        }

                        span {
                            width: 16px;
                            height: 16px;
                            border-radius: 99px;
                        }
                    }

                    &:not(:has(button)) {
                        padding: 0 14px;
                    }
                }

                input {
                    flex-basis: auto;
                    flex-grow: 0;
                }
            }

            .input-append {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    outline: none;
                    border: none;
                    background: none;
                    width: 42px;
                    height: 42px;
                    background-position: center !important;
                    background-repeat: no-repeat !important;

                    &.select-button {
                        background: url("../../assets/icons/button/select_button_arrow.svg");
                    }

                    &.calendar-button {
                        background: url("../../assets/icons/button/calendar_button_icon.svg");
                    }
                }

                p {
                    font-family: 'Hubot Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;

                    color: #344054;
                    padding: 10px 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .seller-add-product {
        padding: 0;
        border-radius: 0;
        background: none;
        backdrop-filter: unset;
        box-shadow: none;
        margin: 0;

        .form-group-col:empty {
            display: none;
        }

        .form-group-row {
            flex-wrap: wrap;

            &.sm-nowrap {
                flex-wrap: nowrap;
            }
        }
    }
}